<h1>Editing ecom order</h1>

<%= render "form", ecom_order: @ecom_order %>

<br>

<div>
  <%= link_to "Show this ecom order", @ecom_order %> |
  <%= link_to "Back to ecom orders", ecom_orders_path %>
</div>
